# Required
LQ_GOOGLE_MAPS_API_KEY=

# Optional (for email sending)
LQ_GMAIL_CLIENT_SECRET_FILE=
LQ_RECEIVER_MAIL_ADDRESS=
LQ_SENDER_MAIL_ADDRESS=

# Optional (scheduler helper)
LQ_CONFIG_PATH=config-locus-quarter.ini
LQ_OUTPUT_DIR=reports
